<!DOCTYPE html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123482724-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-123482724-1');
  </script>
  <% if (config.project === 'blog') { %>
  <title><%- page.title ? `${page.title} - ` : '' %>Grain Blog</title>
  <meta name="description" content="<%- page.subtitle ? page.subtitle : 'The Grain Blog' %>">
  <meta name="og:description" content="<%- page.subtitle ? page.subtitle : 'The Grain Blog' %>">
  <meta name="og:image" content="<%- page.cover %>">
  <% } else { %>
  <title><%- page.title ? `${page.title} - ` : '' %>Grain Docs</title>
  <meta name="description" content="Grain is a new programming language that puts academic language features to work.">
  <meta name="og:description" content="Grain is a new programming language that puts academic language features to work.">
  <% } %>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://kit.fontawesome.com/080d9b67ba.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/<%- config.project %>/css/style.css" />
  <link rel="stylesheet" href="/<%- config.project %>/css/source.grain.css" />
</head>
<body>
  <%- body %>
  <div class="grain-snackbar">This is a notification!</div>
  <script src="/javascripts/active-menu-link.js"></script>
  <script src="/<%- config.project %>/js/main.js"></script>
</body>