---
import CoreTeamMemberInfo from "./CoreTeamMemberInfo.astro";
import oscarHeadshot from "../images/headshots/oscar-headshot-square.jpg";
import philipHeadshot from "../images/headshots/philip-headshot-square.jpg";
import blaineHeadshot from "../images/headshots/blaine-headshot-square.jpg";
import marcusHeadshot from "../images/headshots/marcus-headshot-square.jpg";
import josiahHeadshot from "../images/headshots/josiah-headshot-square.jpg";
import jakeProfile from "../images/headshots/jake-profile-square.png";
import alexHeadshot from "../images/headshots/alex-headshot-square.jpg";
---

<div class="flex flex-wrap gap-14 px-4 container mx-auto">
  <CoreTeamMemberInfo
    profileImage={oscarHeadshot}
    name="Oscar Spencer"
    title="Grain Core Team Lead, Co-Creator"
    role="Language design, operations, chief strategist"
  >
    <p>
      Meet Grain's co-creator, Oscar. In 2017, Oscar, excited about WebAssembly's
      possibilities, co-created Grain, an easy-to-use, flexible but functional
      language that made adoption of WebAssembly simple for the world's
      developers.
    </p>
    
    <p>
      Known for his problem solving and optimism, Oscar is a Principal Engineer
      at F5 NGINX, ...
    </p>
    
    <p>
      Oscar specializes in compilers, language design, OCaml, and functional
      programming. When he's not working, find him on Discord or mulling over the
      next big challenge.
    </p>
    
    <p>
      Who he admires: Guido van Rossum, creator of Python, a language that
      developers adore, with a welcoming community.
    </p>
  </CoreTeamMemberInfo>

  <CoreTeamMemberInfo
    profileImage={philipHeadshot}
    name="Philip Blair"
    title="Grain Core Team Member, Co-Creator"
    role="Programming language theory + research, compiler design"
  >
    <p>
      Philip is Grain's co-creator. Resourceful and analytical, he works to
      implement features which impact the end-user experience to enhance Grain's
      ease of use, familiarity, and accessibility.
    </p>
    
    <p>
      Philip is the Senior Research Engineer at Basis Technology, where he
      investigates practical applications of deep learning technologies for use
      in text analytics.
    </p>
    
    <p>
      Philip is an avid runner, and especially enjoys his route along the local
      river. Most afternoons, you can find Philip in his favorite neighborhood
      café, sipping a coffee and working away.
    </p>
    
    <p>
      Drink of choice: double espresso, Ethiopian single-origin.
    </p>
  </CoreTeamMemberInfo>

  <CoreTeamMemberInfo
    profileImage={blaineHeadshot}
    name="Blaine Bublitz"
    title="Grain Core Team Member"
    role="Project management, toolchain"
  >
    <p>
      Blaine is a freelance open source developer and founder of Lead Gumshoe, an
      open source consulting company. Blaine specializes in helping organizations
      understand and use open source software.
    </p>
    
    <p>
      Pragmatic with a strong work ethic, Blaine brings developer experience,
      tooling, language design and grant writing experience to Grain. He was
      responsible for providing a single installable binary for users to get
      up-and-running quickly. He also streamlined the release process so
      everything is released with 1-click. He also does the arduous work of
      making Grain work on Windows.
    </p>
    
    <p>
      When Blaine's not working, he likes to build Legos and play trading card
      games. He was even the final world champion for the no-longer-produced
      MetaX trading card game.
    </p>
  </CoreTeamMemberInfo>

  <CoreTeamMemberInfo
    profileImage={marcusHeadshot}
    name="Marcus Roberts"
    title="Grain Core Team Member"
    role="Developer tooling, developer experience"
  >
    <p>
      Supportive and bold, Marcus is a champion for building teams who develop
      self-sufficiently. His goal for Grain is simple: a language with easy step
      up, easy development, and a full set of tooling essential for today's
      developers.
    </p>
    
    <p>
      Marcus was responsible for building Grain's language server that provides
      code analysis for code editors.
    </p>
    
    <p>
      Currently, Marcus works as the Technical Director at Nittygritty, where he
      leads both the technical services part of the company and a software
      development team.
    </p>
    
    <p>
      On any given Friday night, you can find Marcus drinking a craft beer and
      surfing the web. He hasn't found the end yet.
    </p>
    
    <p>
      His biggest ask: That you stand to the right on the London Underground
      escalators. Seriously.
    </p>
  </CoreTeamMemberInfo>

  <CoreTeamMemberInfo
    profileImage={josiahHeadshot}
    name="Josiah Savary"
    title="Grain Core Team Member"
    role="Standard library, community projects"
  >
    <p>
      Josiah's first experience with Grain was figuring out how to integrate it
      into a WebAssembly game runtime. Since that time, he's focused on
      implementing the core primitives of the standard library. He expects Grain
      will be a popular language for microcontrollers, smart contracts, APIs,
      gaming, and UI development.
    </p>
    
    <p>
      Josiah is currently a full stack software engineer at Phantom, where he
      works to improve performance across the app.
    </p>
    
    <p>
      Josiah plays bass guitar and has been known to write a song and produce
      music from time to time. But mostly, he just codes a lot and drinks coffee.
    </p>
    
    <p>
      Favorite X-Men: Gambit. Who wouldn't want a deck of exploding playing cards?
    </p>
  </CoreTeamMemberInfo>

  <CoreTeamMemberInfo
    profileImage={jakeProfile}
    name="Spotandjake"
    title="Grain Core Team Member"
    role="Tooling, standard library"
  >
    <p>
      ...
    </p>
  </CoreTeamMemberInfo>

  <CoreTeamMemberInfo
    profileImage={alexHeadshot}
    name="Alex Snezhko"
    title="Grain Core Team Member"
    role="Compiler, standard library"
  >
    <p>
      Alex understands how important having a great programming language is for
      building software and is motivated by the goal of making Grain an
      exceptional language that is easy and enjoyable to build with.
    </p>

    <p>
      Alex is currently a software engineer at SpaceX and builds software for
      Starlink kit order fulfillment and other logistics verticals.
    </p>

    <p>
      Outside of tech, Alex enjoys gaming, building mechanical keyboards, and
      heavy metal music. 
    </p>
  </CoreTeamMemberInfo>
</div>
