---
import { getCollection } from "astro:content"
import TableOfContents from "./TableOfContents.astro";
import type { MarkdownHeading } from "astro";
import DocLinkGroup from "./DocLinkGroup.astro";
import type { CollectionEntry } from "astro:content";
import DocsSwitchPageLink from "./DocsSwitchPageLink.astro";
import TypographyContainer from "./TypographyContainer.astro";
import NewsletterSignup from "./NewsletterSignup.astro";
import Footer from "./Footer.astro";

const introEntries = await getCollection("docs", x => x.id.startsWith("intro/"));
const guideEntries = await getCollection("docs", x => x.id.startsWith("guide/"));
const stdlibEntries = await getCollection("docs", x => x.id.startsWith("stdlib/"));
const toolingEntries = await getCollection("docs", x => x.id.startsWith("tooling/"));

const sidebarClass = "fixed overflow-auto w-[calc(var(--container-width)/5)] top-[3.5rem] h-[calc(100vh-3.5rem)] py-14";

interface Props {
  data: { title?: string | undefined };
  headings: MarkdownHeading[];
  prev: CollectionEntry<"docs"> | undefined;
  next: CollectionEntry<"docs"> | undefined;
}

const { data, headings, prev, next } = Astro.props;
---

<div class="container mx-auto pt-14 px-4 lg:px-0">
  <div class="flex justify-end">
    <div class=`${sidebarClass} hidden lg:block left-[calc(50%-calc(var(--container-width)/2))]`>
      <h1 class="text-2xl font-semibold">Grain Docs</h1>

      <DocLinkGroup title="Intro" entries={introEntries} />
      <DocLinkGroup title="The Guide" entries={guideEntries} />
      <DocLinkGroup title="Tooling" entries={toolingEntries} />
      <DocLinkGroup title="Standard Library" entries={stdlibEntries} />
    </div>

    <article class="w-full lg:w-4/5 xl:w-3/5 xl:float-none xl:mx-auto lg:pl-20 xl:pr-20">
      <div><span class="text-orange-10">Grain Docs&nbsp;&nbsp;/&nbsp;&nbsp;</span><span class="text-color-accent">{data.title}</span></div>
      <h1 class="text-4xl lg:text-5xl font-bold my-6 mt-10">{data.title}</h1>
      <!-- TODO list dark mode, text justification -->
      <TypographyContainer>
        <slot />
        <div class="flex justify-between">
          <DocsSwitchPageLink entry={prev} isPrev={true} />
          <DocsSwitchPageLink entry={next} />
        </div>
        <hr />
        <NewsletterSignup />
      </TypographyContainer>
      <Footer />
    </article>

    <div class=`${sidebarClass} hidden xl:block right-[calc(50%-calc(var(--container-width)/2))]`>
      <TableOfContents headings={headings} />
    </div>
  </div>
</div>
