---
import { getCollection } from "astro:content"
import TableOfContents from "./TableOfContents.astro";
import type { MarkdownHeading } from "astro";
import DocLinkGroup from "./DocLinkGroup.astro";
import type { CollectionEntry } from "astro:content";
import DocsSwitchPageLink from "./DocsSwitchPageLink.astro";
import TypographyContainer from "./TypographyContainer.astro";
import NewsletterSignup from "./NewsletterSignup.astro";
import Footer from "./Footer.astro";
import { docsCollections } from "../utils/docsCollections";

const docsEntries = await getCollection("docs");

const sidebarClass = "fixed overflow-auto w-[calc(var(--container-width)/5)] xl:w-[calc(var(--container-width)/6)] top-[3.5rem] h-[calc(100vh-3.5rem)] py-14";

interface Props {
  data: { title?: string | undefined };
  headings: MarkdownHeading[];
  prev: CollectionEntry<"docs"> | undefined;
  next: CollectionEntry<"docs"> | undefined;
}

const { data, headings, prev, next } = Astro.props;
---

<div class="container mx-auto pt-5 md:pt-14 px-5 lg:px-0">
  <div class="flex justify-end">
    <div class=`${sidebarClass} hidden lg:block left-[calc(50%-calc(var(--container-width)/2))] pl-5`>
      <h1 class="text-3xl font-semibold mb-4">Grain Docs</h1>

      {docsCollections.map(coll => (
        <DocLinkGroup title={coll.title} entries={docsEntries.filter((x: any) => x.slug.startsWith(coll.slugPrefix))} />
      ))}
    </div>

    <article class="w-full lg:w-4/5 xl:w-2/3 xl:float-none xl:mx-auto lg:pl-14 xl:pr-14">
      <div class="text-color-accent"><a href="/docs">Grain Docs</a>&nbsp;&nbsp;<span class="text-orange-10">/</span>&nbsp;&nbsp;{data.title}</div>
      <h1 class="text-4xl lg:text-5xl font-bold my-6 md:mt-10">{data.title}</h1>
      <TypographyContainer>
        <slot />
        <div class="flex justify-between">
          <DocsSwitchPageLink entry={prev} isPrev={true} />
          <DocsSwitchPageLink entry={next} />
        </div>
        <hr />
        <NewsletterSignup />
      </TypographyContainer>
      <Footer />
    </article>

    <div class=`${sidebarClass} hidden xl:block right-[calc(50%-calc(var(--container-width)/2))] pr-5`>
      <TableOfContents headings={headings} />
    </div>
  </div>
</div>
