---
import type { CollectionEntry } from "astro:content";
import type { DocEntry } from "../utils/docsCollections";
import DocLink from "./DocLink.astro";
import path from "node:path";

interface Props {
  version: string;
  title: string | null;
  entries: DocEntry[]
}

const { version, title, entries } = Astro.props;
---

{title && (
  <h2 class="text-xl font-semibold mt-6 mb-2">{title}</h2>
)}
<div class="border-l-2 border-color-dim-3">
  {entries.map(entry => {
    const pathParts = entry.title.split(path.sep);
    const pathPrefixes = pathParts.slice(0, -1);
    const isRoot = pathPrefixes.length === 0;
    return !isRoot ? (
        <DocLink version={version} slug={entry.slug}>
          <span class="text-color-dim-1">{pathPrefixes.join("/")} / </span><span>{entry.collectionEntry.data.title}</span>
        </DocLink>
      ) : (
        <DocLink version={version} slug={entry.slug}>{entry.collectionEntry.data.title}</DocLink>
      )
  })}
</div>
